h1{
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: underline;
}
h2{
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.paragraph{
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color:black
}
.mainImg{
    width: 100px;
    display: inline-flex;
}
.main img{
    margin: auto 5px;
    float: left;
    width: 150px;
    height: 30px;
}