h1{
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: underline;
}
h2{
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
body{
    background-color: lightgray;
}
.paragraph{
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color:black
}
#img1{
    position: fixed;
    top: 20;
    left: 20;
    height: auto;
    width: auto;
}