h1{
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: underline;
}
h2{
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.paragraph{
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color:black
}
#img1{
    width: 200px;
    height: 200px;
    background-color: hotpink;
    object-position: left top;
    object-fit: none;
}